    .hero {
        min-height: 70vh;
        width: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        &__info {
            .text-overlay {
                font-size: 6.25rem;
                color: $grey-color;
                letter-spacing: 4px;
                display: block;
            }
        }
        &__action {
            i {
                padding-right: 1rem;
                justify-content: center;
                align-items: center;
            }
        }
        &__icon {
            margin: 3rem auto;
            i {
                font-size: 3rem;
                color: $silver-color;
            }
        }
        &__log {
            span {
                display: block;
            }
        }
        &__img {
            justify-self: end;
            img {
                border-radius: 5px;
                margin-right: 3rem;
            }
            img:nth-child(2) {
                margin-bottom: 2.25rem;
            }
            img:nth-child(1) {
                margin-right: 0;
            }
        }
    }
    
    @media (max-width:1020px) {
        .hero {
            width: 100%;
            height: 100%;
            &__log {
                padding: 0 0.5rem;
            }
            &__content {
                grid-template-columns: 1fr;
            }
            &__info {
                .text-overlay {
                    font-size: 4rem;
                    padding: 0 0.25rem;
                }
            }
            &__action {
                padding: 0 0.5rem;
            }
            &__img {
                justify-self: center;
                margin-top: 3.25rem;
                img {
                    width: 100px;
                    margin-right: 0.25rem;
                }
            }
        }
    }